CompileFlags:
  Add: [
    "-Wall",
    "-Wextra",
    "-pedantic",
    "-std=c++23",
    "-Iinclude"
  ]
  CompilationDatabase: "build" 

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  TypeNameLimit: 20

Index:
  Background: Build
