# Nix
result
result-*
.direnv/

# Gradle
.gradle/
build/
app/build/
**/build/
gradle-app.setting
local.properties
!gradle-wrapper.jar
!gradle-wrapper.properties

# Kotlin
.kotlin/

# Android
*.apk
*.aab
*.ap_
*.dex
*.avd/
output-metadata.json

# Editors / OS
.idea/
*.iml
*.ipr
*.iws
.navigation/
captures/
.externalNativeBuild/
.cxx/
.DS_Store
Thumbs.db

*.log
